<% if Favorite.find_by(user_id: current_user.id, book_id: book.id) %>
  <%= link_to "/favorites/#{book.id}/destroy", method: :post do %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= book.favorites.count %>
  <% end%>
<% else %>
  <%= link_to "/favorites/#{book.id}/create", method: :post do %>
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> <%= book.favorites.count %>
  <% end %>
<% end %>
